<div class="main-container">
    <div class="main-container__header main-container-header">
        <div class="main-container-header__action-left">
            <button mat-icon-button color="primary" *ngIf="back" (click)="onBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>

        <div class="main-container-header__title">{{ title }}</div>

        <div class="main-container-header__action-right" *ngIf="actionsType === 'buttons'">
            <button mat-icon-button color="primary" *ngFor="let action of actions" (click)="onAction(action)">
                <mat-icon>{{ action.icon }}</mat-icon>
            </button>
        </div>

        <div class="main-container-header__action-right" *ngIf="actionsType === 'menu'">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let action of actions" (click)="onAction(action)">
                    <mat-icon>{{ action.icon }}</mat-icon>
                    <span>{{ action.title }}</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="main-container__payload">
        <ng-content></ng-content>
    </div>
</div>
