.auth-form {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 480px;
  padding: 20% 24px;
  box-sizing: border-box;

  &__field {
    width: 100%;

    &_title {
      margin-bottom: 48px;
      color: #673bb7;
      font-weight: 600;
      font-size: 1.5em;

      div {
        margin-bottom: 4px;
      }

      small {
        font-size: 0.6em;
        font-weight: 200;
      }
    }

    &_action {
      margin-top: 24px;

      button {
        width: 100%;
      }
    }

  }
}
